@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="display-5 fw-bold">
        Ready to join the <span class="text-danger">Alliance</span> team?
    </div>
    
    <div style="padding-top: 50px;">
        <form actions="">
            <div class="form-group row">
                <div class="col-md-3">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="search" name="search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" />
                </div>                  
                <div class="col-md-1">
                    <button type="submit" class="btn btn-danger">Search</button>
                </div>
                <div class="col-md-3">
                </div>
            </div> 
        </form>
    </div>

</div>

<div style="padding-top: 50px;" id="carouselExampleControls" class="container col-12 carousel" data-ride="carousel">
  <div class="col-md-8 carousel-inner">
    <div class="carousel-item active">
         <div class="card">
            <div class="img-wrapper">
                <img  src="img/FinanceImage.png" alt="Card image cap">
            </div>@*
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>*@
        </div>
    </div>
    <div class="carousel-item">
      <div class="card">
            <div class="img-wrapper">
                <img src="img/HumanResourceImage.png" alt="Card image cap">
            </div>@*
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>*@
        </div>
    </div>
    <div class="carousel-item">
      <div class="card">
            <div class="img-wrapper">
                <img src="img/MarketingImage.png" alt="Card image cap">
            </div>@*
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>*@
        </div>
    </div>
    <div class="carousel-item">
      <div class="card">
            <div class="img-wrapper">
                <img src="img/TechnicalImage.png" alt="Card image cap">
            </div>
            @*<div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>*@
        </div>
    </div>
    <div class="carousel-item">
      <div class="card">
            <div class="img-wrapper">
                <img src="img/MarketingImage.png" alt="Card image cap">
            </div>
         @* <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>*@
        </div>
    </div>
  </div>
  <div class="col-md-2">
      <a 100px;" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <img src="/img/CarouselRightIcon.png" alt="Carousel Right Icon"/>
    </a>
  </div>
  <div  class="col-md-2">
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <img src="/img/CarouselLeftIcon.png" alt="Carousel Left Icon"/>
      </a>
  </div>
</div>

<div style="padding-top: 100px;" class="container">
    <div class="row">
        <div class="col-12 display-5 text-danger text-center">
            Latest Jobs
        </div>
        <p style="color: gray;" class="text-center">
            Exercitation dolore reprehenderit fugi
        </p>
    </div>
</div>

  <!--Bootstrap Tables-->
       <div style="padding-top: 50px;" class="text-center row row-content">
            <div class="col-12 ">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                @*<td>15</td>
                                <td>30</td>
                                <td>40</td>*@
                                <img  class="latestJobImage" src="img/ui-ux-designer.png" alt="Card image cap"/>
                            </tr>
                            <tr>
                                @*<td>15000</td>
                                <td>45000</td>
                                <td>100,000</td>*@
                                <img  class="latestJobImage" src="img/csharp.png" alt="Card image cap"/>
                            </tr>
                            <tr>
                                @*<td>3</td>
                                <td>20</td>
                                <td>45</td>*@
                                <img class="latestJobImage" src="img/reactjs developer.png" alt="Card image cap"/>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Boostrap Cards-->
            <div class="col-12 col-sm-3">

            </div>
       </div>

<div style="padding-top: 20px;">
        <div class="col-12 text-center">
            <button class="btn btn-danger">See more</button>
        </div>
        <div style="text-align: right"><img src="img/GoUp.png" width="50" /></div>
</div>

 