@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_Admin.cshtml";
}

<h2 class="mb-4">Dashboard</h2>

<div class="card d-flex shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="border: none;">
   <h4 class="ms-4 mt-2 text-overview">Overview</h4>
   <div class ="card-body justify-content-around d-flex  flex-row">
       <div class="card card-custom1 justify-content-center d-flex flex-row pt-2" style="border: none;">
           <h6 class = "custom-text-report">Onboard</h6>
       </div>
       <div class="card card-custom1 justify-content-center d-flex flex-row pt-2" style="border: none;">
           <h6 class = "custom-text-report">Deployed</h6>

       </div>
       <div class="card card-custom1 justify-content-center d-flex flex-row pt-2" style="border: none;">
           <h6 class = "custom-text-report">Total Applicants</h6>

       </div>
   </div>
</div>

