@using Basecode.Data.Models
@model User

<!-- Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header mx-4 border-bottom border-2">
                <h1 class="modal-title fs-3" id="addUserModalLabel">Add User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" id="addUserForm">
                <div class="modal-body px-5 py-4">    
                    <div class="row">
                        <div class="col">
                            <label asp-for="Username" class="modal-form-label"></label>
                            <input asp-for="Username" type="text" class="form-control" placeholder="Enter a username" id="Username" minlength="1" maxlength="50" required />
                            <span asp-validation-for="Username" class="text-danger" id="UsernameError"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Email" class="modal-form-label"></label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="example@gmail.com" id="Email" required />
                            <span asp-validation-for="Email" class="text-danger" id="EmailError"></span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <label asp-for="Fullname" class="modal-form-label"></label>
                            <input asp-for="Fullname" type="text" class="form-control" placeholder="Enter your name" id="Fullname" minlength="1" maxlength="50" required />
                            <span asp-validation-for="Fullname" class="text-danger" id="FullnameError"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Password" class="modal-form-label"></label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Enter at least 8 characters" minlength="8" maxlength="20" id="Password" required />
                            <span asp-validation-for="Password" class="text-danger" id="PasswordError"></span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="modal-form-label"><label asp-for="Role"></label></div>
                            <div class="form-check form-check-inline">
                                <input asp-for="Role" class="form-check-input" type="radio" id="HumanResourcesRole" value="Human Resources" required />
                                <label class="form-check-label">Human Resources</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="Role" class="form-check-input" type="radio" id="DeploymentTeamRole" value="Deployment Team" required />
                                <label class="form-check-label">Deployment Team</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span asp-validation-for="Role" class="text-danger" id="RoleError"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-between border-0 mx-3 mb-3">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i> CANCEL</button>
                    <button type="submit" class="btn btn-submit"><i class="fa-solid fa-user-plus"></i> ADD USER</button>
                </div>
                </form>
        </div>
    </div>
</div>

<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
<script src="~/js/user/user.js"></script>