@{
}

<!-- Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @*<form asp-action="Add">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Enter a username" asp-for="Username" id="username" minlength="1" maxlength="50" required />



                </form>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                <button type="button" class="btn btn-primary">ADD USER</button>
            </div>
        </div>
    </div>
</div>