@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid d-flex justify-content-center">
    <h1>Users List</h1>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-2">
            <form>
                <input type="text" class="form-control" placeholder="Search users...">
            </form>
        </div>
        <div class="col">
            <a class="btn btn-primary" role="button">All</a>
            <a class="btn btn-primary" role="button">Human Resources</a>
            <a class="btn btn-primary" role="button">Deployment Team</a>
        </div>

        <div class="d-flex col-2 justify-content-md-end">
            <a class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#registerModal"><i class="fa-solid fa-user-plus"></i> ADD USER</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
                <table class="table table-striped border text-center align-middle mt-2">
                    <tr>
                        <th>User ID</th>
                        <th>Role</th>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Email Address</th>
                        <th></th>
                        <th></th>
                    </tr>

                    <tr>
                        <td>0</td>
                        <td>HR</td>
                        <td>Rick Deckard</td>
                        <td>replicant01</td>
                        <td>philipkdick@android.com</td>
                        <td><a class="btn btn-primary" role="button"><i class="fa-regular fa-pen-to-square icon-white"></i> EDIT</a></td>
                        <td><a class="btn btn-primary" role="button"><i class="fa-solid fa-trash-can icon-white"></i> DELETE</a></td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>DT</td>
                        <td>Niander Wallace</td>
                        <td>nexus6</td>
                        <td>wallace@nexus.com</td>
                        <td><a class="btn btn-primary" role="button"><i class="fa-regular fa-pen-to-square icon-white"></i> EDIT</a></td>
                        <td><a class="btn btn-primary" role="button"><i class="fa-solid fa-trash-can icon-white"></i> DELETE</a></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>HR</td>
                        <td>Eldon Tyrell</td>
                        <td>tyrellcorp</td>
                        <td>tyrell@offworld.com</td>
                        <td><a class="btn btn-primary" role="button"><i class="fa-regular fa-pen-to-square icon-white"></i> EDIT</a></td>
                        <td><a class="btn btn-primary" role="button"><i class="fa-solid fa-trash-can icon-white"></i> DELETE</a></td>
                    </tr>
                </table>
        </div>
    </div>
</div>