.form-check input[type="checkbox"]:checked {
    background-color: red;
}

#remember {
    color: red;
    text-decoration: none;
}

#remember:hover {
    color: #b92517;
}

.text-strong {
    font-weight: 500;
}

.input-group-append {
    float:right;
}

::-ms-reveal {
    display: none;
}

#eye:hover,
#eyeslash:hover {
    cursor: pointer;
}

.text-smaller {
    font-size: 0.8rem;
}

.button:hover {
    background-color: #3e8e41
}

.btn-sign:active {
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}

.btn-sign:hover {
    background-color: #b92517;
}

.bg-color {
    background-color: #D02A19;
}

.sign-font {
    font-size: 3.5rem;
    font-weight: 700;
}

.error-style {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    height: 0.8em;
    word-wrap: break-word;
    width: 100%;
}

.form-parent {
    width: 800px;
}

input::placeholder {
    font-size: 14px; /* Adjust the font size as needed */
}

@media (max-width: 767px) {
    .img-show {
        display: none;
    }
}

@media (max-width: 576px) {
    .form-parent {
        width: 400px;
    }
}

@media (max-width: 401px) {
    .form-parent {
        width: 100%;
    }
}