.active-cus1 {
    font-weight: 700;
    color: #fff;
    background-color: #ff0000;
    display: flex;
    border-radius: 4px;
    padding: 8px 16px;
}

.custom-text-report {
    color: #F16558FF;
}

.text-overview {
    color: #323743FF;
}

.admin-body {
    background-color: #FAFAFBFF;
}

.card-custom1 {
    display: flex;
    height: 150px;
    width: 25%;
    background-color: #FEF2F1FF;
}

.active-cus1:hover {
    color: #fff;
}
