@{
    ViewData["Title"] = "Public Application Form";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Public Application Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex flex-column align-items-center justify-content-center row-gap-5 mt-5" style="width: 710px">
        <div class="d-flex flex-row align-items-start justify-content-center column-gap-2">
            <div class="d-flex flex-column align-items-center justify-content-start row-gap-1">
                <div class="d-flex flex-row align-items-center justify-content-center column-gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312V4.002Z" />
                    </svg>
                    <p class="mb-0" style="color: #EC3123;">Personal Information</p>
                </div>
                <hr class="container opacity-100" style="height: 5px; color: #EC3123;" />
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#424856" class="bi bi-chevron-right mt-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <div class="d-flex flex-row align-items-center justify-content-center column-gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-2-circle" viewBox="0 0 16 16">
                    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z" />
                </svg>
                <p class="mb-0">References</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#424856" class="bi bi-chevron-right mt-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <div class="d-flex flex-row align-items-center justify-content-center column-gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-3-circle" viewBox="0 0 16 16">
                    <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z" />
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z" />
                </svg>
                <p class="mb-0">Confirmation</p>
            </div>
        </div>
        <div class="container d-flex align-items-center justify-content-center" style="width: 700px;">
            <div class="container">
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2">
                            <input type="text" class="form-control" placeholder="First name" style="border: 1px solid #424856;">
                            <input type="text" class="form-control" placeholder="Middle name" style="border: 1px solid #424856;">
                            <input type="text" class="form-control" placeholder="Last name" style="border: 1px solid #424856;">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Birthdate</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2 align-items-center justify-content-center">
                            <input type="date" class="form-control" style="border: 1px solid #424856;">
                            <p class="mb-0">Age</p>
                            <input type="text" class="form-control" placeholder="Age" style="border: 1px solid #424856;">
                            <p class="mb-0">Gender</p>
                            <select class="form-select" style="border: 1px solid #424856;">
                                <option selected>Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Nationality</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2 align-items-center justify-content-center">
                            <input type="text" class="form-control" placeholder="Nationality" style="border: 1px solid #424856;">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2 align-items-center justify-content-center">
                            <input type="text" class="form-control" placeholder="Street" style="border: 1px solid #424856;">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2 align-items-center justify-content-center">
                            <input type="text" class="form-control" placeholder="City" style="border: 1px solid #424856;">
                            <input type="text" class="form-control" placeholder="Province" style="border: 1px solid #424856;">
                            <input type="text" class="form-control" placeholder="Zip" style="border: 1px solid #424856;">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2 align-items-center justify-content-center">
                            <input type="number" class="form-control" placeholder="09123456789" style="border: 1px solid #424856;">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2 align-items-center justify-content-center">
                            <input type="email" class="form-control" placeholder="example@domain.com" style="border: 1px solid #424856;">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">CV</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex flex-column align-items-center justify-content-center rounded p-1" style="border-style: dashed; border-color: #424856; background-color: #FAFAFB;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#424856" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
                            </svg>
                            <p class="mb-0" style="font-size: 20px;">Drop file here</p>
                            <p class="mb-0" style="font-size: 15px;">OR</p>
                            <input type="file" id="file-upload" class="form-control" style="display: none;">
                            <label for="file-upload" class="btn" style="color: #EC3123; border-color: #EC3123;">Browse file</label>
                            <p class="mb-0" style="font-size: 10px;">Supported formats: PDF, DOCX, DOC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex flex-row align-items-center justify-content-end">
            <a asp-area="" asp-controller="CharacterReferenceForm" asp-action="Index">
                <button type="button" class="btn" style="background-color: #EC3123; color:white; width: 100px;">Next ></button>
            </a>
        </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center" style="width: 700px;">
        <div class="container">
            <div class="row align-items-center justify-content-center text-end mb-4">
                <div class="col-sm-2">
                    <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-10">
                    <div class="d-flex column-gap-2">
                        <input type="text" class="form-control" placeholder="First name" style="border: 1px solid #424856;">
                        <input type="text" class="form-control" placeholder="Middle name" style="border: 1px solid #424856;">
                        <input type="text" class="form-control" placeholder="Last name" style="border: 1px solid #424856;">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center text-end mb-4">
                <div class="col-sm-2">
                    <p class="mb-0">Birthdate</p>
                </div>
                <div class="col-sm-10">
                    <div class="d-flex column-gap-2 align-items-center justify-content-center">
                        <input type="date" class="form-control" style="border: 1px solid #424856;">
                        <p class="mb-0">Age</p>
                        <input type="text" class="form-control" placeholder="Age" style="border: 1px solid #424856;">
                        <p class="mb-0">Gender</p>
                        <select class="form-select" style="border: 1px solid #424856;">
                            <option selected>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center text-end mb-4">
                <div class="col-sm-2">
                    <p class="mb-0">Nationality</p>
                </div>
                <div class="col-sm-10">
                    <div class="d-flex column-gap-2 align-items-center justify-content-center">
                        <input type="text" class="form-control" placeholder="Nationality" style="border: 1px solid #424856;">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center text-end mb-4">
                <div class="col-sm-2">
                    <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-10">
                    <div class="d-flex column-gap-2 align-items-center justify-content-center">
                        <input type="text" class="form-control" placeholder="Street" style="border: 1px solid #424856;">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center text-end mb-4">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <div class="d-flex column-gap-2 align-items-center justify-content-center">
                        <input type="text" class="form-control" placeholder="City" style="border: 1px solid #424856;">
                        <input type="text" class="form-control" placeholder="Province" style="border: 1px solid #424856;">
                        <input type="text" class="form-control" placeholder="Zip" style="border: 1px solid #424856;">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center text-end mb-4">
                <div class="col-sm-2">
                    <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-10">
                    <div class="d-flex column-gap-2 align-items-center justify-content-center">
                        <input type="number" class="form-control" placeholder="09123456789" style="border: 1px solid #424856;">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center text-end mb-4">
                <div class="col-sm-2">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-10">
                    <div class="d-flex column-gap-2 align-items-center justify-content-center">
                        <input type="email" class="form-control" placeholder="example@domain.com" style="border: 1px solid #424856;">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center text-end mb-4">
                <div class="col-sm-2">
                    <p class="mb-0">CV</p>
                </div>
                <div class="col-sm-10">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded p-1" style="border-style: dashed; border-color: #424856; background-color: #FAFAFB;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#424856" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                            <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
                        </svg>
                        <p class="mb-0" style="font-size: 20px;">Drop file here</p>
                        <p class="mb-0" style="font-size: 15px;">OR</p>
                        <input type="file" id="file-upload" class="form-control" style="display: none;">
                        <label for="file-upload" class="btn" style="color: #EC3123; border-color: #EC3123;">Browse file</label>
                        <p class="mb-0" style="font-size: 10px;">Supported formats: PDF, DOCX, DOC</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex flex-row align-items-center justify-content-end">
            <button type="button" class="btn" style="background-color: #EC3123; color:white;">Next ></button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
